# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# -------------------------
# Virtual Environment
# -------------------------
venv/
venv311/
env/
ENV/

# -------------------------
# Environment Variables
# -------------------------
.env

# -------------------------
# Database
# -------------------------
database.db
*.sqlite3

# -------------------------
# PyCharm
# -------------------------
.idea/
*.iml

# -------------------------
# VS Code
# -------------------------
.vscode/

# -------------------------
# Model Weights (Optional - Large Files)
# -------------------------
*.pth
*.pt

# -------------------------
# Dataset (Very Important - Don't Push Dataset)
# -------------------------
dataset/
*.jpg
*.jpeg
*.png

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# OS Files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Static Uploads (Generated at runtime)
# -------------------------
static/uploads/