# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/
.env/

# IDE / Editor files
.idea/
*.vscode/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs & temporary files
*.log
*.tmp
*.bak
*.swp
*.old

# OS files
.DS_Store
Thumbs.db

# Dataset folder (do not upload your datasets)
dataset/
